@import url("../bootstrap/dist/css/bootstrap.min.css");

@media (min-width: 0){
  .col-sm-1-0{max-width: 8.333333%;}
  .col-sm-2-0{max-width: 16.666667%;}
  .col-sm-3-0{max-width: 25%;}
  .col-sm-4-0{max-width: 33.333333%;}
  .col-sm-5-0{max-width: 41.666667%;}
  .col-sm-6-0{max-width: 50%;}
  .col-sm-7-0{max-width: 58.333333%;}
  .col-sm-8-0{max-width: 66.666667%;}
  .col-sm-9-0{max-width: 75%;}
  .col-sm-10-0{max-width: 83.333333%;}
  .col-sm-11-0{max-width: 91.666667%;}
}
.text-right{text-align:right;}
.text-center{text-align:center;}
.text-uppercase{text-transform:uppercase}
.card:hover{border-color:darkcyan;}
.card.selected{border-color:darkcyan;}

.no-padding {padding:0!important;}
.padding-top-1{padding-top:1rem!important;}
.padding-bottom-1{padding-bottom:1rem!important;}
.padding-left-1{padding-left:1rem!important;}
.padding-right-1{padding-right:1rem!important;}
.padding-1{padding:1rem!important;}
.padding--5{padding:.5rem!important;}
.no-margin{margin:0!important;}
.margin-top-1{margin-top:1rem!important;}
.margin-bottom-1{margin-bottom:1rem!important;}
.margin-left-1{margin-left:1rem!important;}
.margin-right-1{margin-right:1rem!important;}
.margin-1{margin:1rem!important;}
.margin--5{margin:.5rem!important;}
.margin-auto{margin:auto!important;}
.empty-link{cursor:pointer;}
.border-left-radius-0{border-top-left-radius:0;border-bottom-left-radius:0;}
.border-right-radius-0{border-top-right-radius:0;border-bottom-right-radius:0;}

